@import url('/assets/styles/theme.css');
@import url('/assets/styles/base.css');

pre {
    display: inline-block;
}

ol li:first-child {
    counter-reset: my-counter;
}
ol li::before {
    content: counter(my-counter) ". ";
	counter-increment: my-counter;
}

aside {
     display: none;
}
